@import url("https://fonts.googleapis.com/css?family=Merriweather:300,700,300italic,700italic|Source+Sans+Pro:900");
@import url('https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');



:root {
    --bg-color: #1f2b2d;
    --second-bg-color: #324246;
    --text-color: #fff;
    --main-color: rgb(255, 196, 0);

}


/* scrollbar on the root <html> or <body> element */
html::-webkit-scrollbar,
body::-webkit-scrollbar {
  width: 12px; 
}

/* Track */
html::-webkit-scrollbar-track,
body::-webkit-scrollbar-track {
  background: var(--second-bg-color); 
}

/* Handle */
html::-webkit-scrollbar-thumb,
body::-webkit-scrollbar-thumb {
  background: #526d72; 
  border-radius: 6px;
}

/* Handle on hover */
html::-webkit-scrollbar-thumb:hover,
body::-webkit-scrollbar-thumb:hover {
  background: #6e9197;
}

body {
    background-color: var(--bg-color);
    display: flex;
    justify-content: center;
}


.resume-section {
    max-width: 1020px;
    max-height: 1320px;
    display: flex;
    justify-content: space-around;

}

.resume-column {
    width: auto;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.card {
    font-family: "Candara", sans-serif;
    width: 400px;
    height: 1320px;
    overflow: hidden;
    background: rgb(235, 233, 233);
    color: black;
    border-radius: 10px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
    display: flex;
    flex-direction: column;
    margin-right: 5px;
}

.card-image img {
    width: 100%;
    height: 130px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    object-fit: cover;
}

.profile-image img {
    z-index: 1;
    width: 120px;
    height: 120px;
    background: #c4c4c4;
    position: relative;
    margin-top: -75px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    border-radius: 100px;
    border: 5px solid #ffffff;
    transition:  0.3s ease-in-out;
}

.profile-image img:hover {
    transform: scale(1.05);
    border: 5px solid #72afb1;

}

.card-content {
    padding: 15px;
}

.card-content table td {
    padding-bottom: 10px;
}

.card-content table td a{
    text-decoration: none;
    color: black;
}

.skills-container,
.header h3 {
    text-align: center;

}

.card-content h3 {
    font-size: 18px;
    color: rgb(14, 149, 167);
    margin: 0;
}

.card-content h4 {
    font-size: 13px;
    font-family: "Ubuntu";
    color: #c59c14;
    padding: 0 0 0 15px;

}

.card-content p {
    word-spacing: normal;
    font-family: "Ubuntu";
    font-weight: 400;
    line-height: normal;
    font-size: 14px;
    text-align: left;
    padding: 0 0 0 15px;
}

.card-content li{
    font-size: 14px;
    list-style: none;

}

.card-content li::before{
    content: "\2764";
    color: #125e54;
    margin-right: 10px;
}

.resume-icons {
    text-align: center;
    padding: 5px;

}

.resume-icons a {
    font-size: 20px;
    color: #125e54;
    padding: 0 14px;
    transition: 0.6s ease;
    text-decoration: none;

}

.resume-icons a:hover {
    color: var(--main-color);
    transform: scale(1.1);
}

.card-content ul {
    word-spacing: normal;
    font-family: "Ubuntu";
    font-weight: 400;
    line-height: 25px;
    font-size: 20px;
    text-align: justify;
    padding: 0 50px 30px 50px;
}

/* Skills Section design */
.skills-container {
    padding: 15px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}


.skills {
    margin: 0 10px 30px 0;
    width: 100px;
    height: 100px;
    position: relative;
    align-items: center;
    justify-content: center;
}

.outer {
    height: 70px;
    width: 70px;
    border-radius: 50%;
    padding: 15px;
    box-shadow: 6px 6px 10px -1px rgba(0, 0, 0, 0.15),
        -6px -6px 10px -1px rgba(255, 255, 255, 0.7);
}

.inner {
    height: 69px;
    width: 69px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: inset 4px 4px 6px -1px rgba(0, 0, 0, 0.2),
        inset -4px -4px 6px -1px rgba(255, 255, 255, 0.7),
        -0.5px -0.5px 0px rgba(255, 255, 255, 1),
        0.5px 0.5px 0px rgba(0, 0, 0, 0.15),
        0px 12px 10px -10px rgba(0, 0, 0, 0.15);
}

#number {
    font-weight: 600;
}

circle {
    fill: none;
    stroke: url(#GradientColor);
    stroke-width: 20px;
    stroke-dasharray: 248;
    stroke-dashoffset: 248;
    animation: anim 1s linear forwards;
}

svg {
    position: absolute;
    top: 0;
    left: 0;
}



@keyframes anim {
    100% {
        stroke-dashoffset: 38;
    }
}


.animation2 {
    fill: none;
    stroke: url(#GradientColor);
    stroke-width: 20px;
    stroke-dasharray: 248;
    stroke-dashoffset: 248;
    animation: anim2 1s linear forwards;
}

@keyframes anim2 {
    100% {
        stroke-dashoffset: 86;
    }
}

.animation3 {
    fill: none;
    stroke: url(#GradientColor);
    stroke-width: 20px;
    stroke-dasharray: 248;
    stroke-dashoffset: 248;
    animation: anim3 1s linear forwards;
}

@keyframes anim3 {
    100% {
        stroke-dashoffset: 120;
    }
}

.animation4 {
    fill: none;
    stroke: url(#GradientColor);
    stroke-width: 20px;
    stroke-dasharray: 248;
    stroke-dashoffset: 248;
    animation: anim4 1s linear forwards;
}

@keyframes anim4 {
    100% {
        stroke-dashoffset: 160;
    }
}


/* Content block in resume*/
.content-block {
    font-family: "Candara", sans-serif;
    height: 1320px;
    overflow: hidden;
    background: #ffffff;
    border-radius: 10px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
    display: flex;
    flex-direction: column;
}

.content-block h3 {
    font-size: 18px;
    color: #0abde3;
    text-align: center;
    margin: 0;
    padding: 20px 20px 5px 20px;
}

.content-block h4 {
    font-size: 13px;
    font-family: "Ubuntu";
    color: #04657a;
    text-align: left;
    margin: 0;
    padding: 5px 20px 5px 20px;
}

.content-block p {
    word-spacing: normal;
    font-family: "Ubuntu";
    font-weight: 400;
    line-height: normal;
    font-size: 14px;
    text-align: left;
    padding: 0 50px 5px 50px;
}

.content-block ul {
    word-spacing: normal;
    font-family: "Ubuntu";
    font-weight: 400;
    line-height: normal;
    font-size: 14px;
    text-align: justify;
    padding: 0 50px 30px 50px;
}

.hobby-icons {
    color: #04657a;
    display: flex;
    flex-direction: column;
    text-decoration: none;
    padding: 10px 0 20px 20px;
    font-size: 20px;
}

.hobby-icons i {
    margin-bottom: 10px;
}

.hobby-icons span {
    text-decoration: none;
    font-size: 12px;
    padding-left: 10px;
}


@media (max-width:477px) {

    body {
        background-color: #1f2c2c;
        display: flex;
        justify-content: center;
        overflow-x: hidden;
    }

    .resume-section {
        display: flex;
        flex-wrap: wrap;
        margin: 2px;
    }

    .card {
        width: 100%;
    }

    .content-block {
        width: 100%;
        margin-top: 20px;
    }

}